* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  padding: 10vh 10vw;
}
body img {
  width: 5vw;
  height: 5vh;
  margin: 6vh;
}
body main {
  display: flex;
  background-color: hsl(0deg, 0%, 100%);
  justify-content: center;
  min-width: 60vw;
  height: 55vh;
  border-radius: 30px;
  padding: 3vh 2vw;
}
body main .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 3vw 0 0;
  width: 55%;
}
body main .container .bill h4 {
  font-size: 1.5rem;
  color: hsl(186deg, 14%, 43%);
  margin-bottom: 1rem;
}
body main .container .bill input[type=text] {
  background-color: hsl(189deg, 41%, 97%);
  height: 36px;
  width: 100%;
  color: hsl(183deg, 100%, 15%);
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Space Mono", monospace;
  border-style: none;
  text-align: right;
  background: url(/images/icon-dollar.svg) no-repeat left;
}
body main .container .tip-percent h4 {
  font-size: 1.5rem;
  color: hsl(186deg, 14%, 43%);
  margin-bottom: 1rem;
}
body main .container .tip-percent .input-grid {
  display: grid;
  align-content: center;
  grid-template-columns: 33% 33% 33%;
  gap: 0.8rem;
}
body main .container .tip-percent .input-grid input[type=button] {
  background-color: hsl(183deg, 100%, 15%);
  border-style: none;
  height: 3rem;
  border-radius: 5px;
  color: hsl(0deg, 0%, 100%);
  font-weight: bolder;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  cursor: pointer;
}
body main .container .tip-percent .input-grid #customtip {
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(186deg, 14%, 43%);
}
body main .container .number-people h4 {
  font-size: 1.5rem;
  color: hsl(186deg, 14%, 43%);
  margin-bottom: 1rem;
}
body main .container .number-people input[type=number] {
  background-color: hsl(189deg, 41%, 97%);
  height: 36px;
  width: 100%;
  color: hsl(183deg, 100%, 15%);
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Space Mono", monospace;
  border-style: none;
  text-align: right;
  background: url(/images/icon-person.svg) no-repeat left;
}
body main .result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 30px;
  width: 45%;
  padding: 4vh 2vw;
}
body main .result .tip-amount {
  display: flex;
  justify-content: space-between;
}
body main .result .tip-amount p {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: bold;
  color: hsl(0deg, 0%, 100%);
}
body main .result .tip-amount p label {
  font-size: 1rem;
  font-weight: 100;
  color: hsl(172deg, 67%, 45%);
}
body main .result .tip-amount #tip-amount {
  font-size: 2.3rem;
  color: hsl(172deg, 67%, 45%);
}
body main .result .total {
  display: flex;
  justify-content: space-between;
}
body main .result .total p {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: bold;
  color: hsl(0deg, 0%, 100%);
}
body main .result .total p label {
  font-size: 1rem;
  font-weight: 100;
  color: hsl(172deg, 67%, 45%);
}
body main .result .total #total {
  font-size: 2.3rem;
  color: hsl(172deg, 67%, 45%);
}
body main .result #reset {
  height: 3rem;
  background-color: hsl(172deg, 67%, 45%);
  border-style: none;
  border-radius: 5px;
  font-weight: bolder;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    display: flex;
  }
  body img {
    margin: 0 0 5vh 0;
    width: 20vw;
    height: 8vh;
  }
  body main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 30px 30px 0 0;
    height: auto;
    padding: 5vh 5vw;
  }
  body main .container {
    width: 100%;
    font-size: 0.4rem;
  }
  body main .container .tip-percent {
    margin: 4vh 0;
  }
  body main .container .tip-percent .input-grid {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
  }
  body main .result {
    width: 100%;
    margin: 4vh 0 0 0;
    padding: 8vh 6vw;
  }
}/*# sourceMappingURL=style.css.map */